.container-fluid {
  padding: 0;
}

#banner {
  height: 400px;
  witdh:100%;
  background: url(../img/milkbg.jpg) no-repeat center #00f;
  background-size: cover;
  position: relative;
}

.row {
  padding-bottom: 30px;
}

.jumbotron {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: rgba(0,0,0,0.6);
  color: #fff;
}

#contact-us {
  background-color: LightBlue;
}

#about-us {
  background-color: #ddd;
}

@media (min-width: 1200px){
    .leftAlign {
      text-align: left;
    }
    .rightAlign {
      text-align: right;
    }
}
